.trelloBoard {
    height: 95vh;
    background-color: #133753;
    padding: 25px;

    .cardListContainer {
        display: flex;

        .addcardList {
            .inp:focus {
                color: #ffffff;
            }
        }
    }
}