.card {
    margin: 0 auto 10px;
    background: #fff;
    // min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    -webkit-transition: .15s;
    transition: .15s;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}

.card-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 30%);
    transition: 0.15s;
    cursor: pointer;
    
    padding: 10px 10px;
    align-items: center;

    .buttons {
        display: flex;
    }
}